*,
*::before,
*::after,
h1,
h2,
h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#container {
  background-color: var(--blue-grey);
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
}

:root {
  --salmon: #f05768;
  --blue-grey: #2f3848;
  --dark-blue: #004488;
  --light-blue-title: #00ccff;
  --green: yellowgreen;
  --max-width-mobile: 360px;
  --max-width-tablet: 900px;
  --max-width-desktop: 1224px;
  --width-aside-tablet: calc((884px / 3));
  --width-gallery-tablet: calc((884px / 3) * 2);
  --width-aside-desktop: 300px;
  --width-gallery-desktop: 900px;
}

/* Layout */

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.15rem;
}

#main-nav,
#social-nav {
  display: flex;
  gap: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#presentation {
  padding: 0.6rem;
}

#highlight {
  position: relative;
  margin-bottom: 1rem;
}

#gallery-and-aside {
  display: flex;
  flex-direction: column-reverse;
}

aside {
  padding: 1rem;
  background-color: var(--dark-blue);
  margin: 0 1rem 1rem;
  border-radius: 1rem;
}

/* typos */
header h1 {
  background-color: var(--salmon);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 2px solid white;
  border-radius: 0 0 0.5rem 0.5rem;
}

li {
  list-style: none;
}

nav a {
  color: var(--green);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
nav a:hover {
  opacity: 0.7;
}

#presentation h2 {
  font-size: 1.2rem;
  color: var(--light-blue-title);
  margin-bottom: 0.5rem;
}

#presentation p {
  color: white;
  font-size: 0.9rem;
  line-height: 1.4;
}

#presentation p a {
  color: var(--green);
}

#highlight h2 {
  color: white;
  background-color: var(--salmon);
  position: absolute;
  font-size: 1rem;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#gallery-top-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

aside h3 {
  font-size: 1.3rem;
  color: var(--light-blue-title);
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--light-blue-title);
  margin-bottom: 0.5rem;
}

aside > p {
  font-size: 0.8rem;
  line-height: 1.2;
  color: var(--green);
  margin-bottom: 2rem;
}

aside > p > a {
  color: var(--green);
}

aside > p > a:hover {
  color: white;
  font-weight: 500;
}

main > p {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--light-blue-title);
}

/* images */

#social-nav img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}

#highlight img {
  width: var(--max-width-mobile);
}

#gallery img {
  width: 320px;
}
/* Footer */

footer {
  padding-top: 2rem;
}

footer p {
  background-color: #0000ff;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 0.2rem solid #f4f0ec;
  text-align: center;
  margin-bottom: 1rem;
}

footer p:hover {
  opacity: 0.6;
}
footer a {
  color: #f4f0ec;
  text-decoration: none;
}

/* responsives */

@media screen and (min-width: 900px) {
  #container {
    max-width: 900px;
  }

  header h1 {
    font-size: 1.8rem;
  }

  nav a {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  main {
    margin: 0;
    padding: 0;
  }

  #highlight img {
    width: var(--max-width-tablet);
  }

  #highlight h2 {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
  }
  #gallery-and-aside {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: var(--max-width-tablet);
    margin: 0;
  }

  aside {
    height: fit-content;
    width: var(--width-aside-tablet);
    margin: 0;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    width: var(--width-gallery-tablet);
    gap: 8px;
  }

  #gallery img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  #first-image {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  #gallery-top-four {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  #last-images {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 8px;
  }
}
@media screen and (min-width: 1224px) {
  #container {
    max-width: 1224px;
  }

  #gallery-and-aside,
  #highlight img {
    width: var(--max-width-desktop);
  }

  aside {
    width: var(--width-aside-desktop);
  }

  #gallery {
    width: var(--width-gallery-desktop);
  }
}
