*,
*::before,
*::after,
h1,
h2,
h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#container {
  background-color: var(--blue-grey);
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
}

:root {
  --salmon: #f05768;
  --blue-grey: #2f3848;
  --dark-blue: #004488;
  --light-blue-title: #00ccff;
  --green: yellowgreen;
  --max-width-mobile: 360px;
  --max-width-tablet: 900px;
  --max-width-desktop: 1224px;
}

/* Layout */

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.15rem;
}

#main-nav,
#social-nav {
  display: flex;
  gap: 0.5rem;
}

/* typos */
header h1 {
  background-color: var(--salmon);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 2px solid white;
  border-radius: 0 0 0.5rem 0.5rem;
}

li {
  list-style: none;
}

nav a {
  color: var(--green);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
nav a:hover {
  opacity: 0.7;
}

#presentation

/* images */

#social-nav img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}

#highlight img {
  width: var(--max-width-mobile);
}

/* Footer */

footer {
  padding-top: 2rem;
}

footer p {
  background-color: #0000ff;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 0.2rem solid #f4f0ec;
  text-align: center;
  margin-bottom: 1rem;
}

footer p:hover {
  opacity: 0.6;
}
footer a {
  color: #f4f0ec;
  text-decoration: none;
}

/* responsives */

/* @media screen and (min-width: 768px) {
  #container {
    max-width: 768px;
  }
} */

/* @media screen and (min-width: 1224px) {
  #container {
    max-width: 1224px;
  }
} */
